Node-Red-Weather-chatbot-app.txt
[{"id":"483d3a31.005c74","type":"watson-conversation-v1","z":"1435b4c.7356a4b","name":"Weather Bot","workspaceid":"d1d72ac4-6b90-40cb-b84f-ce7e2768e10d","multiuser":false,"context":false,"x":283,"y":271.16662979125977,"wires":[["3d9aa84e.7e1de8"]]},{"id":"8dac3cef.1e91d","type":"http in","z":"1435b4c.7356a4b","name":"BOT Home Page /bot","url":"/bot","method":"get","swaggerDoc":"","x":105,"y":121.16662216186523,"wires":[["554327e9.f9c998"]]},{"id":"554327e9.f9c998","type":"template","z":"1435b4c.7356a4b","name":"Conversation BOT Template","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<html>\n  <head>\n    <meta charset=\"utf-8\">\n    <meta http-equiv=\"X-UA-Compatible\" content=\"IE=edge\">\n    <meta name=\"viewport\" content=\"width=device-width, initial-scale=1\">\n    <title>\n\t  Weather Chatbot\n\t</title>\n\t<style style=\"text/css\">\nbody {\n  background-image: url(\"https://ybtraveler.files.wordpress.com/2014/05/clouds-and-blue-sky-background-hd-wallpapers-2560-x-1600-2.jpg\");\n  background-position: 50% 50%;\n  background-repeat: repeat;\n  }\n</style>\n\t<link rel=\"stylesheet\"\n        type=\"text/css\"\n        href=\"https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css\" />\n  </head>\n  <body>\n\n    <div class=\"container\">\n      <div id=\"no-script\"class=\"bg-info\">\n        This application needs JavaScript enabled in your browser!\n      </div>\n      <div id=\"id_contextdump\"><h3></h3></div>\n\n      <center><h1>Know Real Time Weather Data</h1></center>\n      <div id=id_botchathistory>\n\t  </div>\n\t  \n\t  <div>\n\t     <form>\n            <label for=\"id_chattext\"><i><h3>Your Input: </h3></i></label>\n            <input type=\"text\" name=\"chattext\" id=\"id_chattext\">\n            <br/>\n\t      </form>\n\t     <button onclick=\"javascript:onChatClick()\">Send</button>\n    </div>\n    <script type=\"text/javascript\" src=\"https://code.jquery.com/jquery-2.1.4.min.js\"></script>\n    <script src=\"https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js\"></script>\n\n    <script type=\"text/javascript\">\n    \n      $(document).ready(function() {\n          javascriptCheck();\n          \t$('#id_contextdump').hide();\n      });\n\n      // if javascript is enabled on the browser then can\n      // remove the warning message\n      function javascriptCheck() {\n        $('#no-script').remove();\n      }\n      \n      function createNewDiv(who, message) {\n        console.log('002-001');  \n        var txt = who + ' : ' + message;\n        return $('<div></div>').text(txt);\n      }\n\n      function chat(person, txt) {\n        $('#id_botchathistory').append(createNewDiv(person, txt));\n      }    \n      \n      function processOK(response) {\n        console.log('003-001');\n        console.log(response);\n        console.log(response.botresponse.messageout);\n        console.log(response.botresponse.messageout.output.text);\n        console.log(response.botresponse.messageout.context);\n        chat('Bot', response.botresponse.messageout.output.text); \n        $('#id_contextdump').data('convContext', response.botresponse.messageout.context);\n      }\n      \n      function processNotOK() {\n        chat('Error', 'Error whilst attempting to talk to Bot');\n      }\n      \n      function invokeAjax(message) {\n        var contextdata = $('#id_contextdump').data('convContext');\n        console.log('checking stashed context data');\n        console.log(contextdata);\n        \n  \n        //var ajaxData = \"msgdata=\" + message;\n        var ajaxData = {};\n        ajaxData.msgdata = message;\n        if (contextdata) {\n          ajaxData.context = contextdata;    \n        }\n\n        $.ajax({\n          type: 'POST',\n          url: 'botchat',\n          data: ajaxData,\n          success: processOK,\n          error: processNotOK\n        });\n      }\n          \n      // User has entered some text.\n      function onChatClick() {\n        console.log('001-001');\n        var txt = $('#id_chattext').val();\n        chat('You', txt); \n        invokeAjax(txt);\n        console.log('001-002');\n      }\n      \n        \n    </script>\n  </body>\n</html>\n","x":357.11114501953125,"y":121.2777099609375,"wires":[["8744ae86.0944a"]]},{"id":"8744ae86.0944a","type":"http response","z":"1435b4c.7356a4b","name":"","x":558,"y":122.1666259765625,"wires":[]},{"id":"3a61fe0e.f20292","type":"http in","z":"1435b4c.7356a4b","name":"","url":"/botchat","method":"post","swaggerDoc":"","x":90,"y":269.1666259765625,"wires":[["52058db9.bab384"]]},{"id":"52058db9.bab384","type":"function","z":"1435b4c.7356a4b","name":"Pre Service","func":"// Storing User Input in msg.payload\nmsg.mydata = {};\nmsg.mydata.messagein = msg.req.body.msgdata;\nmsg.payload = msg.mydata.messagein;\n\nmsg.params = { \"context\": msg.req.body.context};\n\nreturn msg;","outputs":1,"noerr":0,"x":151,"y":320.16662979125977,"wires":[["483d3a31.005c74"]]},{"id":"3d9aa84e.7e1de8","type":"function","z":"1435b4c.7356a4b","name":"Post Service","func":"//Storing Bot responses in msg.payload\nmsg.mydata.messageout = msg.payload;\nmsg.payload = {};\nmsg.payload.botresponse = msg.mydata;\nglobal.set(\"theoutput\",msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":412.66668701171875,"y":321.499942779541,"wires":[["e7e1934a.07eff"]]},{"id":"e7e1934a.07eff","type":"switch","z":"1435b4c.7356a4b","name":"Switch","property":"payload.botresponse.messageout.output.text","propertyType":"msg","rules":[{"t":"cont","v":"last value for TEMPERATURE.","vt":"str"},{"t":"cont","v":"minimum value for TEMPERATURE.","vt":"str"},{"t":"cont","v":"maximum value for TEMPERATURE.","vt":"str"},{"t":"cont","v":"average value for TEMPERATURE.","vt":"str"},{"t":"cont","v":"last value for LIGHT.","vt":"str"},{"t":"cont","v":"minimum value for LIGHT.","vt":"str"},{"t":"cont","v":"maximum value for LIGHT.","vt":"str"},{"t":"cont","v":"average value for LIGHT.","vt":"str"},{"t":"cont","v":"last value for HUMIDITY.","vt":"str"},{"t":"cont","v":"minimum value for HUMIDITY.","vt":"str"},{"t":"cont","v":"maximum value for HUMIDITY.","vt":"str"},{"t":"cont","v":"average value for HUMIDITY.","vt":"str"},{"t":"else"}],"checkall":"true","outputs":13,"x":561.2935791015625,"y":275.57141494750977,"wires":[["7bb8ca3e.7dd884"],["133bf939.82a2d7"],["33882fd9.4402b"],["6eaa76c3.a13e48"],["1d4db2ce.99e8fd"],["7a52ad77.8d2714"],["97b23310.3b118"],["8616f93a.4f2a98"],["24f68b1d.5905c4"],["b10a8054.c2a3a"],["a7d2240b.1610e8"],["d3c35b1b.a43ca8"],["3f562c7.92ae8d4"]]},{"id":"7bb8ca3e.7dd884","type":"dashDB in","z":"1435b4c.7356a4b","dashDB":"","service":"dashDB for Analytics-CMPE272","query":"SELECT AMBIENT_TEMP FROM TIDATA  FETCH FIRST ROW ONLY","params":"","name":"LAST TEMP","x":759.499885559082,"y":158.83346843719482,"wires":[["a96a6f7e.68095"]]},{"id":"a96a6f7e.68095","type":"function","z":"1435b4c.7356a4b","name":"RETURN LAST TEMP","func":"var globalvariable = global.get(\"theoutput\");\nvar dashDBresult = msg.payload;\nvar latest = dashDBresult.AMBIENT_TEMP;\n//var timesent = dashDBresult.TIMESENT;\nglobalvariable.botresponse.messageout.output.text = \"Here is what you asked for. The LATEST TEMP recorded by the IoT Sensor is \" + latest + \" celsius degrees. \";\nmsg.payload = globalvariable;\nreturn msg;","outputs":1,"noerr":0,"x":987.3886108398438,"y":146.11117553710938,"wires":[["5e7d6276.ea0cac"]]},{"id":"33882fd9.4402b","type":"dashDB in","z":"1435b4c.7356a4b","dashDB":"","service":"dashDB for Analytics-CMPE272","query":"SELECT MAX(AMBIENT_TEMP) FROM TIDATA","params":"","name":"MAX TEMP","x":758.8332595825195,"y":230.22242832183838,"wires":[["3fae005d.117c8","d0f7ef8f.07731"]]},{"id":"3fae005d.117c8","type":"function","z":"1435b4c.7356a4b","name":"RETURN MAX TEMP","func":"var globalvariable = global.get(\"theoutput\");\nglobalvariable.botresponse.messageout.output.text = \"Here is what you asked for. The MAXIMUM TEMP recorded by the IoT Sensor is \" + msg.payload[\"1\"] + \" celsius degrees.\";\nmsg.payload = globalvariable;\nreturn msg;","outputs":1,"noerr":0,"x":1002.499755859375,"y":243.61109924316406,"wires":[["5e7d6276.ea0cac"]]},{"id":"64d01859.4eecf8","type":"function","z":"1435b4c.7356a4b","name":"RETURN MIN TEMP","func":"var globalvariable = global.get(\"theoutput\");\nglobalvariable.botresponse.messageout.output.text = \"Here is what you asked for. The MINIMUM TEMP recorded by the IoT Sensor is \" + msg.payload[\"1\"] + \" celsius degrees.\";\nmsg.payload = globalvariable;\nreturn msg;","outputs":1,"noerr":0,"x":955.388671875,"y":197.27780151367188,"wires":[["5e7d6276.ea0cac"]]},{"id":"3f562c7.92ae8d4","type":"function","z":"1435b4c.7356a4b","name":"OTHERWISE","func":"var globalvariable = global.get(\"theoutput\");\nmsg.payload = globalvariable;\nreturn msg;","outputs":1,"noerr":0,"x":741.33349609375,"y":772.166748046875,"wires":[["af23dd14.ab712"]]},{"id":"133bf939.82a2d7","type":"dashDB in","z":"1435b4c.7356a4b","dashDB":"","service":"dashDB for Analytics-CMPE272","query":"SELECT MIN(AMBIENT_TEMP) FROM TIDATA","params":"","name":"MIN TEMP","x":758.8332901000977,"y":192.888991355896,"wires":[["64d01859.4eecf8"]]},{"id":"6eaa76c3.a13e48","type":"dashDB in","z":"1435b4c.7356a4b","dashDB":"","service":"dashDB for Analytics-CMPE272","query":"SELECT AVG(AMBIENT_TEMP) FROM TIDATA","params":"","name":"AVG TEMP","x":760.27783203125,"y":267.22229385375977,"wires":[["f5ab0cc0.49e49"]]},{"id":"f5ab0cc0.49e49","type":"function","z":"1435b4c.7356a4b","name":"RETURN AVG TEMP","func":"var globalvariable = global.get(\"theoutput\");\nglobalvariable.botresponse.messageout.output.text = \"Here is what you asked for. The AVERAGE TEMP recorded by the IoT Sensor is \" + msg.payload[\"1\"] + \" celsius degrees.\";\nmsg.payload = globalvariable;\nreturn msg;","outputs":1,"noerr":0,"x":1012.4442749023438,"y":286.94439697265625,"wires":[["5e7d6276.ea0cac"]]},{"id":"5e7d6276.ea0cac","type":"function","z":"1435b4c.7356a4b","name":"","func":"msg.payload.botresponse.messageout.context = {};\nreturn msg;\n","outputs":1,"noerr":0,"x":1441.277587890625,"y":358.16668701171875,"wires":[["af23dd14.ab712","a3607d2f.86f07"]]},{"id":"31bf31f0.05e55e","type":"comment","z":"1435b4c.7356a4b","name":"TIDATA TEMP","info":"","x":760.9999389648438,"y":119,"wires":[]},{"id":"d1e0f5fd.87fe68","type":"comment","z":"1435b4c.7356a4b","name":"TIDATA LIGHT","info":"","x":760.9999771118164,"y":308.0000238418579,"wires":[]},{"id":"1d4db2ce.99e8fd","type":"dashDB in","z":"1435b4c.7356a4b","dashDB":"","service":"dashDB for Analytics-CMPE272","query":"SELECT LIGHT FROM TIDATA FETCH FIRST ROW ONLY","params":"","name":"LAST LIGHT","x":761.4999618530273,"y":342.50001525878906,"wires":[["5955581c.0a4068"]]},{"id":"5955581c.0a4068","type":"function","z":"1435b4c.7356a4b","name":"RETURN LAST LIGHT","func":"var globalvariable = global.get(\"theoutput\");\nvar dashDBresult = msg.payload;\nvar latest = dashDBresult.LIGHT;\n//var timesent = dashDBresult.TIMESENT;\nglobalvariable.botresponse.messageout.output.text = \"Here is what you asked for. The LATEST LIGHT recorded by the IoT Sensor is \" + latest + \" lux units.\";\nmsg.payload = globalvariable;\nreturn msg;","outputs":1,"noerr":0,"x":978.9999694824219,"y":336.5000228881836,"wires":[["5e7d6276.ea0cac"]]},{"id":"7a52ad77.8d2714","type":"dashDB in","z":"1435b4c.7356a4b","dashDB":"","service":"dashDB for Analytics-CMPE272","query":"SELECT MIN(LIGHT) FROM TIDATA","params":"","name":"MIN LIGHT","x":761.4999771118164,"y":380.0000247955322,"wires":[["9d726b02.249a98"]]},{"id":"9d726b02.249a98","type":"function","z":"1435b4c.7356a4b","name":"RETURN MIN LIGHT","func":"var globalvariable = global.get(\"theoutput\");\nglobalvariable.botresponse.messageout.output.text = \"Here is what you asked for. The MINIMUM LIGHT recorded by the IoT Sensor is \" + msg.payload[\"1\"] + \" lux units.\";\nmsg.payload = globalvariable;\nreturn msg;","outputs":1,"noerr":0,"x":955.055419921875,"y":380.38879776000977,"wires":[["5e7d6276.ea0cac"]]},{"id":"97b23310.3b118","type":"dashDB in","z":"1435b4c.7356a4b","dashDB":"","service":"dashDB for Analytics-CMPE272","query":"SELECT MAX(LIGHT) FROM TIDATA","params":"","name":"MAX LIGHT","x":761.9999771118164,"y":418.0000238418579,"wires":[["3af3d191.049f7e"]]},{"id":"3af3d191.049f7e","type":"function","z":"1435b4c.7356a4b","name":"RETURN MAX LIGHT","func":"var globalvariable = global.get(\"theoutput\");\nglobalvariable.botresponse.messageout.output.text = \"Here is what you asked for. The MAXIMUM LIGHT recorded by the IoT Sensor is \" + msg.payload[\"1\"] + \" lux units.\";\nmsg.payload = globalvariable;\nreturn msg;","outputs":1,"noerr":0,"x":957.5553588867188,"y":417.38879776000977,"wires":[["5e7d6276.ea0cac"]]},{"id":"8616f93a.4f2a98","type":"dashDB in","z":"1435b4c.7356a4b","dashDB":"","service":"dashDB for Analytics-CMPE272","query":"SELECT AVG(LIGHT) FROM TIDATA","params":"","name":"AVG LIGHT","x":763.4999618530273,"y":455.50001525878906,"wires":[["2704c241.e790de"]]},{"id":"2704c241.e790de","type":"function","z":"1435b4c.7356a4b","name":"RETURN AVG LIGHT","func":"var globalvariable = global.get(\"theoutput\");\nglobalvariable.botresponse.messageout.output.text = \"Here is what you asked for. The AVERAGE LIGHT recorded by the IoT Sensor is \" + msg.payload[\"1\"] + \" degrees.\";\nmsg.payload = globalvariable;\nreturn msg;","outputs":1,"noerr":0,"x":958.0553588867188,"y":455.88879776000977,"wires":[["5e7d6276.ea0cac"]]},{"id":"1b2bcb08.ef08f5","type":"comment","z":"1435b4c.7356a4b","name":"1. Setup the Chatbot page","info":"","x":117,"y":73,"wires":[]},{"id":"ac29e54.cc6f818","type":"comment","z":"1435b4c.7356a4b","name":"2. Capture the Conversation's input and output","info":"","x":187,"y":213,"wires":[]},{"id":"ea362601.5cf828","type":"comment","z":"1435b4c.7356a4b","name":"3. Switch depending on the Conversation's output","info":"","x":430,"y":409.99999237060547,"wires":[]},{"id":"8639b0ae.5ae73","type":"comment","z":"1435b4c.7356a4b","name":"4. Do SQLs and format when the Swicth identified the need, else return as-is output","info":"","x":893,"y":72,"wires":[]},{"id":"e143e593.d01b68","type":"comment","z":"1435b4c.7356a4b","name":"TIDATA HUMIDITY","info":"","x":771,"y":510,"wires":[]},{"id":"24f68b1d.5905c4","type":"dashDB in","z":"1435b4c.7356a4b","dashDB":"","service":"dashDB for Analytics-CMPE272","query":"SELECT HUMIDITY FROM TIDATA FETCH FIRST ROW ONLY","params":"","name":"LAST HUMIDITY","x":780.6666412353516,"y":553.6667098999023,"wires":[["28065bb0.fde3d4"]]},{"id":"28065bb0.fde3d4","type":"function","z":"1435b4c.7356a4b","name":"RETURN LAST HUMDITY","func":"var globalvariable = global.get(\"theoutput\");\nvar dashDBresult = msg.payload;\nvar latest = dashDBresult.HUMIDITY;\n//var timesent = dashDBresult.TIMESENT;\nglobalvariable.botresponse.messageout.output.text = \"Here is what you asked for. The LATEST HUMIDITY recorded by the IoT Sensor is \" + latest + \"gram per cubic meter\";\nmsg.payload = globalvariable;\nreturn msg;","outputs":1,"noerr":0,"x":1025.1666412353516,"y":540.6667098999023,"wires":[["5e7d6276.ea0cac"]]},{"id":"b10a8054.c2a3a","type":"dashDB in","z":"1435b4c.7356a4b","dashDB":"","service":"dashDB for Analytics-CMPE272","query":"SELECT MIN(LIGHT) FROM TIDATA","params":"","name":"MIN HUMIDITY","x":772.6665954589844,"y":622.6667098999023,"wires":[["64835bf8.68f584"]]},{"id":"64835bf8.68f584","type":"function","z":"1435b4c.7356a4b","name":"RETURN MIN HUMIDITY","func":"var globalvariable = global.get(\"theoutput\");\nglobalvariable.botresponse.messageout.output.text = \"Here is what you asked for. The MINIMUM HUMIDITY recorded by the IoT Sensor is \" + msg.payload[\"1\"] + \"gram per cubic meter\";\nmsg.payload = globalvariable;\nreturn msg;","outputs":1,"noerr":0,"x":1029.2220153808594,"y":603.0555038452148,"wires":[["5e7d6276.ea0cac"]]},{"id":"a7d2240b.1610e8","type":"dashDB in","z":"1435b4c.7356a4b","dashDB":"","service":"dashDB for Analytics-CMPE272","query":"SELECT MAX(HUMIDITY) FROM TIDATA","params":"","name":"MAX HUMIDITY","x":777.1665954589844,"y":666.6667098999023,"wires":[["72976e.a04e4894"]]},{"id":"72976e.a04e4894","type":"function","z":"1435b4c.7356a4b","name":"RETURN MAX HUMIDITY","func":"var globalvariable = global.get(\"theoutput\");\nglobalvariable.botresponse.messageout.output.text = \"Here is what you asked for. The MAXIMUM HUMIDITY recorded by the IoT Sensor is \" + msg.payload[\"1\"] + \"gram per cubic meter\";\nmsg.payload = globalvariable;\nreturn msg;","outputs":1,"noerr":0,"x":1029.7219543457031,"y":656.0555038452148,"wires":[["5e7d6276.ea0cac"]]},{"id":"d3c35b1b.a43ca8","type":"dashDB in","z":"1435b4c.7356a4b","dashDB":"","service":"dashDB for Analytics-CMPE272","query":"SELECT AVG(HUMIDITY) FROM TIDATA","params":"","name":"AVG HUMIDITY","x":767.6665954589844,"y":711.1667098999023,"wires":[["82c05361.3cc31"]]},{"id":"82c05361.3cc31","type":"function","z":"1435b4c.7356a4b","name":"RETURN AVG HUMIDITY","func":"var globalvariable = global.get(\"theoutput\");\nglobalvariable.botresponse.messageout.output.text = \"Here is what you asked for. The AVERAGE HUMIDITY recorded by the IoT Sensor is \" + msg.payload[\"1\"] + \"gram per cubic meter\";\nmsg.payload = globalvariable;\nreturn msg;","outputs":1,"noerr":0,"x":1009.2219543457031,"y":703.5555038452148,"wires":[["5e7d6276.ea0cac"]]},{"id":"af23dd14.ab712","type":"http response","z":"1435b4c.7356a4b","name":"","x":1322.7578125,"y":764.046875,"wires":[]},{"id":"a3607d2f.86f07","type":"debug","z":"1435b4c.7356a4b","name":"","active":true,"console":"true","complete":"true","x":1154.8334045410156,"y":872,"wires":[]},{"id":"8d20f108.8cb58","type":"e-mail","z":"1435b4c.7356a4b","server":"smtp.gmail.com","port":"465","secure":true,"name":"akanshamehta17@gmail.com;akmehta2004@gmail.com","dname":"Email Alert","x":1636.5000305175781,"y":239.00000762939453,"wires":[]},{"id":"d0f7ef8f.07731","type":"function","z":"1435b4c.7356a4b","name":"Alert MAX TEMP","func":"var globalvariable = global.get(\"theoutput\");\nglobalvariable.botresponse.messageout.output.text = \"Here is what you asked for. The MAXIMUM TEMP recorded by the IoT Sensor is \" + msg.payload[\"1\"] + \" celsius degrees.\";\nif(msg.payload[\"1\"] > 0){\n    \n   //msg.payload = globalvariable;\n   msg.payload = \"*ALERT* : Current temperature is \" + msg.payload[\"1\"];\n\nreturn msg;\n\n}\n","outputs":1,"noerr":0,"x":1309.3333740234375,"y":22.666656494140625,"wires":[["8d20f108.8cb58"]]}]
